.navbar-wrapper.navBarBottom
  .container
    .navbar.navbar-default.navbar-static-top.customNavBar(role="navigation")
      .container
        .navbar-header
          a(href="/c/#{company.companyId}/signin")
            img(src="https://s3.amazonaws.com/hrsystem/companies_logo/#{company.companyImg}" height="50")
          button.navbar-toggle(type="button" data-toggle="collapse" data-target=".navbar-collapse")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar

        .navbar-collapse.collapse
          ul.nav.navbar-nav
            li
              a(href="/c/#{company.companyId}/a/home") Home
            li.dropdown
              a.dropdown-toggle(href="#" data-toggle="dropdown") My Info 
                span.caret
              ul.dropdown-menu(role="menu")
                li
                  a(href="#") Timesheets
            li.dropdown
              a.dropdown-toggle(href="#" data-toggle="dropdown") My Org 
                span.caret
              ul.dropdown-menu(role="menu")
                li
                  a(href="#") Timesheets
          ul.nav.navbar-nav.navbar-right
            li.dropdown
              a.dropdown-toggle(href="#" data-toggle="dropdown") #{emp.name}
                span.caret
              ul.dropdown-menu(role="menu")
                li
                  a(href="/c/#{company.companyId}/a/accountSetting") Account Settings
                li
                  a(href="/c/#{company.companyId}/a/signOut") Sign out  
                       